<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 1000px; margin: 0 auto;"></div>
    <div style="width: 1000px; background-color: blue; height: 50px; color: white; font-size: 30px;">Create An Account on Twitter</div>
    <h3>errmsg</h3>
 <div class="form-group">
            <label for="fname">Enter first name:</label>
            <input type="text" class="form-control" id="fname" name="fname" required>
          </div>

          <div class="form-group">
            <label for="mname">Enter middle name:</label>
            <input type="text" class="form-control" id="mname" name="mname">
          </div>
          
          <div class="form-group">
            <label for="lname">Enter Last name:</label>
            <input type="text" class="form-control" id="lname" name="lname" required>
          </div>

          <div class="form-group">
            <label for="emailphone">Email/Phoneno:</label>
            <input type="text" class="form-control" id="emailphone" name="emailphone" required>
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>

          <div class="form-group">
            <label for="confirmpassword">Confirm Password:</label>
            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" required>
          </div>

          <div class="form-group">
            <label for="dob">Date of birth:</label>
            <input type="date" class="form-control" id="dob" name="dob" required>
          </div>

          <div class="form-group">
            <label for="gender">Gender:</label>
            <div>
                <input type="radio" id="male" name="gender" value="male" required>
                <label for="male">Male</label>
            </div>
            <div>
                <input type="radio" id="female" name="gender" value="female" required>
                <label for="female">Female</label>
            </div>
            <div>
                <input type="radio" id="other" name="gender" value="other" required>
                <label for="other">Other</label>
            </div>
</div>

<button type="submit" class="btn btn-primary">Sign up</button>
<h6 class="mt-5"><a href="/">Already have account?</a></h6>
</body>
</html>  -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div style="width: 1000px; margin: 0 auto;">
        <div style="width: 1000px; background-color: blue; height: 50px; color: white; font-size: 30px;">Create An Account On Twitter</div>
        <h3><%= errmsg %></h3>
        <form action="/reg_submit" method="post">
            <table align="center" width="500" border="1">
                <tr>
                    <td><label for="fname">Enter first name:</label></td>
                    <td><input type="text" class="form-control" id="fname" name="fname" required></td>
                </tr>
                <tr>
                    <td><label for="mname">Enter middle name:</label></td>
                    <td><input type="text" class="form-control" id="mname" name="mname"></td>
                </tr>
                <tr>
                    <td><label for="lname">Enter Last name:</label></td>
                    <td><input type="text" class="form-control" id="lname" name="lname" required></td>
                </tr>
                <tr>
                    <td><label for="emailphone">Email/Phoneno:</label></td>
                    <td><input type="text" class="form-control" id="emailphone" name="emailphone" required></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input type="password" class="form-control" id="password" name="password" required></td>
                </tr>
                <tr>
                    <td><label for="confirmpassword">Confirm Password:</label></td>
                    <td><input type="password" class="form-control" id="confirmpassword" name="confirmpassword" required></td>
                </tr>
                <tr>
                    <td><label for="dob">Date of birth:</label></td>
                    <td><input type="date" class="form-control" id="dob" name="dob" required></td>
                </tr>
                <tr>
                    <td><label for="gender">Gender:</label></td>
                    <td>
                        <input type="radio" id="male" name="gender" value="male" required>
                        <label for="male">Male</label>
                        <input type="radio" id="female" name="gender" value="female" required>
                        <label for="female">Female</label>
                        <input type="radio" id="other" name="gender" value="other" required>
                        <label for="other">Other</label>
                    </td>
                </tr>
                <tr>
                    <td><label for="username">Username:</label></td>
                    <td><input type="text" class="form-control" id="username" name="username"></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit" class="btn btn-primary">Sign up</button></td>
                </tr>
                <!-- <tr>
                    <td colspan="2"><h6 class="mt-5"><a href="/">Already have account?</a></h6></td>
                </tr> -->
            </table>
            <div>
                <a href="/login">Already have an account. Please click to login.</a>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
